<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <table class="table table-bordered">
        <tr>
          <th colspan="5" style="text-align: center; vertical-align: middle;">
            <h4><a style="display: none;" href="/dashboard">Dashboard</a> <a href="/processado/sersic"><u>Processado</u></a></h4>
          </th>
        </tr>
        <tr>
          <th style="text-align: center; vertical-align: middle;">
            {% if model == 'sersic' %}
            <h5><a href="/index/sersic"> <u>Sersic</u></a> <a style="display: none;" href="/index/sersicexponential">Sersic+Exponential</a></h5>
            {% elif model == 'sersicexponential' %}
            <h5><a href="/index/sersic"> Sersic</a> | <a href="/index/sersicexponential"> <u>Sersic+Exponential</u></a></h5>
            {% else%}
            <h5><a href="/index/sersic"> Sersic</a> | <a href="/index/sersicexponential"> Sersic+Exponential </a></h5>
            {% endif %}
          </th>
          <th>Tempo Medio</th>
          <th>imageSize medio</th>
          <th>deVRad medio</th>
          <th>Qtd. erros</th>
        </tr>
        <tr>
          <th style="text-align: center; vertical-align: middle;">
            <h5> 1 - {{totalGalaxies}} </h5>
          </th>
          <th> {{ (tempoMedio/60)|int ~ " hours " ~ (tempoMedio%60)|int ~ " minutes" if tempoMedio>60 else tempoMedio|round(2) ~ " minutes" }} <br>
          <th> {{ tamanhoMedio|round(2) }} </th>
          <th> {{ devRadMedio|round(4) }} </th>
          <th> {{totalErrors}}/{{totalGalaxies}} ({{((totalErrors * 100) / totalGalaxies)|round(2)}}) %</th>
        </tr>
      </table>
    </div> <!-- header row -->

    {% block content %}{% endblock %}
    </div> <!-- container -->


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="{{ url_for('static', filename='js/myList.js') }}"></script>


</body>

</html>