{% extends "base.html" %}

{% block content %}
    <table id="table_id" class="table table-striped table-hover table-sm display">
        <thead class="thead-dark">
            <tr style="text-align: center; vertical-align: middle;">
                <th>#</th>
                <th>Galaxia</th>
                <th>Fits</th>
                <th>Time</th>
                <th>imageSize</th>
                <th>deVRad</th>
                <th>Status</>
                <th>Posterior Plot</th>
            </tr>
        </thead>
        <!-- Button trigger modal -->

        <tbody>
        {% for galaxy in processedGalaxies %}
        <tr>
            <td style="text-align: center; vertical-align: middle;"> {{ galaxy.id }} </td>
            <td style="text-align: center; vertical-align: middle;"> <a href="galaxy/{{ galaxy.galaxy.objid }}">{{ galaxy.galaxy.objid }}</a> </td>
            <td style="text-align: center; vertical-align: middle;"> <a href="{{ galaxy.galaxy.imgPath }}" class="btn btn-primary">Img</a>  <a href="{{ galaxy.galaxy.maskPath }}" class="btn btn-primary">Mask</a> </td>
            <td style="text-align: center; vertical-align: middle;"> {{ galaxy.processingTime }}</td>
            <td style="text-align: center; vertical-align: middle;"> {{ (galaxy.galaxy.imageSize)}} </td>
            <td style="text-align: center; vertical-align: middle;"> {{ galaxy.galaxy.devRad }} </td>
            <td style="text-align: center; vertical-align: middle;"> <h5 style="{% if galaxy.processingStatus=='Success' %}color: blue;{% else %}color: red;{% endif %}">{{ galaxy.processingStatus }}</h5></td>
            <td style="text-align: center; vertical-align: middle;"> <a href="{{ galaxy.posterior }}" class="btn btn-primary">Posterior</a>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ galaxy.galaxy.objid }}">Corner Plot</button> </td>
            <!-- Modal -->
            <div class="modal fade" id="{{ galaxy.galaxy.objid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable" style="max-width: 100% !important; position: relative; overflow-y: auto;">
                    <div class="modal-content"> 
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ galaxy.galaxy.objid }}">Corner Plot for {{ galaxy.galaxy.objid }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"> 
                            <img id="myImg" src="{{ galaxy.cornerPlot }}" alt="{{ galaxy.galaxy.objid }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="{{ galaxy.cornerPlot }}">
                                <input type="submit" class="btn btn-primary" value="Save Image" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}