{% extends "base.html" %}

{% block content %}
<button id="button" type="button" class="btn btn-primary">Primary</button>
<table id="table_id" class="table table-striped table-hover table-sm display nowrap" style="width:100%">
    <thead class="thead-dark">
        <tr style="text-align: center; vertical-align: middle;">
            <th>#</th>
            <th>Galaxy</th>
            <th>Image & Mask</th>
            <th>Time</th>
            <th>imageSize</th>
            <th>deVRad</th>
            <th>Status</>
            <th>Posterior Plot</th>
            <th>Corner Plot</th>
        </tr>
    </thead>
</table>
<div class="modal fade" id="DescModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 100% !important; position: relative; overflow-y: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleHeader" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="myImg" src="#" alt="#">
            </div>
            <div class="modal-footer">
                <form action="#">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                <form id="saveForm" action="#">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}