{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    <div id="table">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
            <tr style="text-align: center; vertical-align: middle;">
                <th scope="col" class="sort" data-sort="id">#</th>
                <th>Galaxia</th>
                <th>Fits</th>
                <th scope="col" class="sort" data-sort="time">Time</th>
                <th scope="col" class="sort" data-sort="imgSize">imageSize</th>
                <th scope="col" class="sort" data-sort="devRad">deVRad</th>
                <th scope="col" class="sort" data-sort="status">Status</>
                <th>Posterior Plot</th>
            </tr>
        </thead>
        <!-- Button trigger modal -->

        <tbody class="list">
        {% for galaxy in processedGalaxies %}
        <tr>
            <td scope="row" class="id" style="text-align: center; vertical-align: middle;"> {{ galaxy.id }} </td>
            <td style="text-align: center; vertical-align: middle;"> <a href="galaxy/{{ galaxy.galaxy.objid }}">{{ galaxy.galaxy.objid }}</a> </td>
            <td style="text-align: center; vertical-align: middle;"> <a href="{{ galaxy.galaxy.imgPath }}" class="btn btn-primary">Img</a>  <a href="{{ galaxy.galaxy.maskPath }}" class="btn btn-primary">Mask</a> </td>
            <td class="time" style="text-align: center; vertical-align: middle;"> {{ galaxy.processingTime }}</td>
            <td class="imgSize" style="text-align: center; vertical-align: middle;"> {{ (galaxy.galaxy.imageSize)}} </td>
            <td class="devRad" style="text-align: center; vertical-align: middle;"> {{ galaxy.galaxy.devRad }} </td>
            <td class="status" style="text-align: center; vertical-align: middle;"> <h5 style="{% if galaxy.processingStatus=='Success' %}color: blue;{% else %}color: red;{% endif %}">{{ galaxy.processingStatus }}</h5></td>
            <td style="text-align: center; vertical-align: middle;"> <a href="{{ galaxy.posterior }}" class="btn btn-primary">Posterior</a>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ galaxy.galaxy.objid }}">Corner Plot</button> </td>
            
            <!-- Modal -->
            <div class="modal fade" id="{{ galaxy.galaxy.objid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable" style="max-width: 100% !important; position: relative; overflow-y: auto;">
                    <div class="modal-content"> 
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ galaxy.galaxy.objid }}">Corner Plot for {{ galaxy.galaxy.objid }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"> 
                            <img id="myImg" src="{{ galaxy.cornerPlot }}" alt="{{ galaxy.galaxy.objid }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="{{ galaxy.cornerPlot }}">
                                <input type="submit" class="btn btn-primary" value="Save Image" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center flex-sm-wrap"></ul>
    </nav>
    </div>

    <nav aria-label="Page navigation">
        <ul id="pagination" class="pagination justify-content-center flex-sm-wrap"">
          <li class="page-item {% if prev_url=='None' %} disabled {% endif %}"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
          {% for i in range(totalPages) %}
            <li class="page-item {% if page==i+1 %}active{% endif %}"><a class="page-link" href="/pagination/{{model}}?page={{i+1}}">{{i+1}}</a></li>
          {% endfor %}
          <li class="page-item {% if next_url=='None' %} disabled {% endif %}"><a class="page-link" href="{{ next_url }}">Next</a></li>
        </ul>
      </nav>
{% endblock %}