{% extends "base.html" %}

{% block content %}
    <h1>File input</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file }}
        <input type="submit">
    </form>
{% endblock %}